h1{
    background-color:peachpuff;
    font-style: italic;
    color:royalblue;
    text-align: center;

    width:700px;
    border-radius: 20px;
    height: 50px;

}

#todo{
    background-color: rgb(221, 236, 241);
    text-align: center;
    
}
body{
    background-color:rgb(191, 217, 243);
}